# Factor Model

This demo is written under Python 3.4 environment using Jupyter Notebook through [Anaconda](https://anaconda.org/).

<font color='red'>This demo is for course use only. Do not distribute.</font>

## 1. Introduction to WRDS and Download Data

## 2. Formulas

$Market Equity(ME) = Price * Shares$
<br>

$Book Equity(BE) = Stockholders' equity + Deferred taxes and tax credit - Preferred stock$
<br>

$Profitability = Sales/Turnover - Cost of goods sold - Selling, general and admin expense - Interest and related expense$
<br>

For more details of factor definition, please ta ke a look at [Ken French Library](http://mba.tuck.dartmouth.edu/pages/faculty/ken.french/Data_Library/variable_definitions.html).

# 3. Data Preprocessing

This part is using Python 3.4 and Jupyter Notebook for demonstration only. You can choose other programming languages as you like.

When doing data analysis in Python, [Numpy](https://docs.scipy.org/doc/numpy-dev/user/quickstart.html) and [Pandas](https://pandas.pydata.org/pandas-docs/stable/10min.html) will be very helpful.

In [1]:
# import some useful packages
# these packages will be installed by default if you are using anaconda
import pandas as pd
import numpy as np
import datetime

## 3.1 Read Downloaded Data

In [2]:
# current working directory: UTA/Code
# save downloaded data under: UTA/Code/Data/
raw_df = pd.read_csv("raw_data.csv")

In [3]:
# look at column types
print(raw_df.dtypes)
print(raw_df.describe())
raw_df.head()

gvkey         int64
datadate     object
fyearq        int64
fqtr          int64
indfmt       object
consol       object
popsrc       object
datafmt      object
tic          object
conm         object
curcdq       object
datacqtr     object
datafqtr     object
cogsq       float64
cshoq       float64
pstkq       float64
saleq       float64
teqq        float64
txditcq     float64
xintq       float64
xsgaq       float64
exchg       float64
costat       object
prccq       float64
dtype: object
               gvkey         fyearq           fqtr          cogsq  \
count  160818.000000  160818.000000  160818.000000  117883.000000
mean    88752.423062    2015.043366       2.485742     734.558955
std     76867.521251       1.415940       1.112868    3688.247064
min      1004.000000    2012.000000       1.000000   -4788.000000
25%     19143.000000    2014.000000       1.000000       2.225000
50%     61796.000000    2015.000000       2.000000      29.215000
75%    170912.000000    2016.000000       3.000000     254.370500
max    319507.000000    2018.000000       4.000000  134347.722000

               cshoq          pstkq          saleq           teqq  \
count  150532.000000  114432.000000  118306.000000  114975.000000
mean      170.404002      79.149532    1103.524136    2977.218694
std       788.572018    2214.661685    4836.422262   13360.186629
min         0.000000    -252.000000   -2039.671000  -59264.000000
25%         8.857000       0.000000       5.255000      21.479500
50%        31.504000       0.000000      65.665500     207.457000
75%        91.438000       0.000000     436.724250    1208.316500
max    100092.395000  136279.000000  136267.000000  351954.000000

            txditcq         xintq         xsgaq          exchg          prccq
count  95175.000000  96549.000000  95274.000000  160684.000000  120183.000000
mean     343.781625     36.290322    187.711769      13.959492      39.038366
std     1877.905632    393.666550    829.127611       3.857306     344.318761
min     -214.343000  -1255.554000   -923.000000       0.000000       0.000000
25%        0.000000      0.056000      2.930000      11.000000       4.030000
50%        0.000000      1.658000     14.466000      14.000000      15.900000
75%       42.979000     16.702000     70.406750      17.000000      36.940000
max    76959.000000  24473.000000  29310.000000      21.000000   29000.000000

,gvkey,datadate,fyearq,fqtr,indfmt,consol,popsrc,datafmt,tic,conm,...,cshoq,pstkq,saleq,teqq,txditcq,xintq,xsgaq,exchg,costat,prccq
0,1004,05/31/2013,2012,4,INDL,C,D,STD,AIR,AAR CORP,...,39.382,0.0,583.6,919.5,138.2,10.0,52.5,11.0,A,20.06
1,1004,08/31/2013,2013,1,INDL,C,D,STD,AIR,AAR CORP,...,39.582,0.0,514.5,939.4,146.8,11.0,47.7,11.0,A,25.09
2,1004,11/30/2013,2013,2,INDL,C,D,STD,AIR,AAR CORP,...,39.600,0.0,374.2,967.2,153.5,3.8,34.9,11.0,A,31.22
3,1004,02/28/2014,2013,3,INDL,C,D,STD,AIR,AAR CORP,...,39.569,0.0,399.8,988.1,143.2,7.1,37.7,11.0,A,28.90
4,1004,05/31/2014,2013,4,INDL,C,D,STD,AIR,AAR CORP,...,39.560,0.0,420.6,1000.7,162.2,6.4,46.0,11.0,A,24.30

## 3.2 Remove unnecessary columns and rename columns

In [4]:
# column selection
raw_df = raw_df.loc[:, ["datadate", "tic", "conm", "cogsq", "cshoq", "pstkq", "saleq", "teqq", "txditcq", "xintq", "xsgaq", 
                        "exchg", "prccq"]].copy()

# rename column
# it's NOT a good habit to have white space inside column names in Python
# I copy paste column names from R to Python, so I did it anyway...
raw_df.columns = ["Date", "Ticker", "Company", "Cost of Goods Sold", "Common Shares Outstanding", "Preferred Stock Capital", 
                  "Sales/Turnover (Net)", "Stockholders Equity", "Deferred Taxes and Investment Tax Credit", 
                  "Interest and Related Expense", "Selling, General and Administrative Expenses", 
                  "Stock Exchange Code", "Close Price"]

raw_df.head()

,Date,Ticker,Company,Cost of Goods Sold,Common Shares Outstanding,Preferred Stock Capital,Sales/Turnover (Net),Stockholders Equity,Deferred Taxes and Investment Tax Credit,Interest and Related Expense,"Selling, General and Administrative Expenses",Stock Exchange Code,Close Price
0,05/31/2013,AIR,AAR CORP,465.9,39.382,0.0,583.6,919.5,138.2,10.0,52.5,11.0,20.06
1,08/31/2013,AIR,AAR CORP,401.8,39.582,0.0,514.5,939.4,146.8,11.0,47.7,11.0,25.09
2,11/30/2013,AIR,AAR CORP,281.0,39.600,0.0,374.2,967.2,153.5,3.8,34.9,11.0,31.22
3,02/28/2014,AIR,AAR CORP,305.0,39.569,0.0,399.8,988.1,143.2,7.1,37.7,11.0,28.90
4,05/31/2014,AIR,AAR CORP,319.0,39.560,0.0,420.6,1000.7,162.2,6.4,46.0,11.0,24.30

## 3.3 Handle missing data

In data analysis, you will meet with missing data inevitably. How to handle missing data is an art.
<br>

We could replace missing data using [fillna](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.fillna.html).
<br>

We could also simply drop row contains missing data by using [dropna](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.dropna.html).

Make realistic assumptions and defend your assumptions!

In [5]:
# how to use help inside Jupyter Notebook
help(pd.DataFrame.dropna)

Help on function dropna in module pandas.core.frame:

dropna(self, axis=0, how='any', thresh=None, subset=None, inplace=False)
    Return object with labels on given axis omitted where alternately any
    or all of the data are missing

    Parameters
    ----------
    axis : {0 or 'index', 1 or 'columns'}, or tuple/list thereof
        Pass tuple or list to drop on multiple axes
    how : {'any', 'all'}
        * any : if any NA values are present, drop that label
        * all : if all values are NA, drop that label
    thresh : int, default None
        int value : require that many non-NA values
    subset : array-like
        Labels along other axis to consider, e.g. if you are dropping rows
        these would be a list of columns to include
    inplace : boolean, default False
        If True, do operation inplace and return None.

    Returns
    -------
    dropped : DataFrame

    Examples
    --------
    >>> df = pd.DataFrame([[np.nan, 2, np.nan, 0], [3, 4, np.nan, 1],
    ...                    [np.nan, np.nan, np.nan, 5]],
    ...                   columns=list('ABCD'))
    >>> df
         A    B   C  D
    0  NaN  2.0 NaN  0
    1  3.0  4.0 NaN  1
    2  NaN  NaN NaN  5

    Drop the columns where all elements are nan:

    >>> df.dropna(axis=1, how='all')
         A    B  D
    0  NaN  2.0  0
    1  3.0  4.0  1
    2  NaN  NaN  5

    Drop the columns where any of the elements is nan

    >>> df.dropna(axis=1, how='any')
       D
    0  0
    1  1
    2  5

    Drop the rows where all of the elements are nan
    (there is no row to drop, so df stays the same):

    >>> df.dropna(axis=0, how='all')
         A    B   C  D
    0  NaN  2.0 NaN  0
    1  3.0  4.0 NaN  1
    2  NaN  NaN NaN  5

    Keep only the rows with at least 2 non-na values:

    >>> df.dropna(thresh=2)
         A    B   C  D
    0  NaN  2.0 NaN  0
    1  3.0  4.0 NaN  1

In [6]:
# drop if price or shares is missing
raw_df.dropna(axis=0, how='any', subset=['Close Price', 'Common Shares Outstanding'], inplace=True)

## 3.4 Calculate ME, BE and Profitability

In [7]:
# market equity
raw_df['ME'] = raw_df['Close Price'] * raw_df['Common Shares Outstanding']
# book equity
raw_df['BE'] = raw_df['Stockholders Equity'] + raw_df['Deferred Taxes and Investment Tax Credit'].fillna(0) -\
raw_df['Preferred Stock Capital'].fillna(0)
# book to market ratio
raw_df['BE/ME'] = raw_df['BE'] / raw_df['ME']
# profitability
raw_df['PB'] = raw_df['Sales/Turnover (Net)'] - raw_df[['Cost of Goods Sold', 'Selling, General and Administrative Expenses',\
                                                        'Interest and Related Expense']].sum(axis=1, skipna=True)

# get cleaned dataset
clean_df = raw_df.iloc[:, [0,1,2,11,13,14,15,16]].copy()

**Note: the last step to make a copy is very important in Python in order to prevent [SettingwithCopyWarning](https://www.dataquest.io/blog/settingwithcopywarning/)**

In [8]:
# DO NOT use this if your dataset is huge
clean_df

,Date,Ticker,Company,Stock Exchange Code,ME,BE,BE/ME,PB
0,05/31/2013,AIR,AAR CORP,11.0,790.002920,1057.700,1.338856,55.200
1,08/31/2013,AIR,AAR CORP,11.0,993.112380,1086.200,1.093733,54.000
2,11/30/2013,AIR,AAR CORP,11.0,1236.312000,1120.700,0.906486,54.500
3,02/28/2014,AIR,AAR CORP,11.0,1143.544100,1131.300,0.989293,50.000
4,05/31/2014,AIR,AAR CORP,11.0,961.308000,1162.900,1.209706,49.200
5,08/31/2014,AIR,AAR CORP,11.0,1104.620600,1167.500,1.056924,36.900
6,11/30/2014,AIR,AAR CORP,11.0,1019.843330,1171.100,1.148314,38.600
7,02/28/2015,AIR,AAR CORP,11.0,1170.590400,1080.900,0.923380,20.600
8,05/31/2015,AIR,AAR CORP,11.0,1046.395420,949.700,0.907592,-52.000
9,08/31/2015,AIR,AAR CORP,11.0,856.561980,958.100,1.118541,29.800
10,11/30/2015,AIR,AAR CORP,11.0,860.680640,966.600,1.123065,32.200
11,02/29/2016,AIR,AAR CORP,11.0,739.784920,938.100,1.268071,33.000
12,05/31/2016,AIR,AAR CORP,11.0,842.511150,900.100,1.068354,35.200
13,08/31/2016,AIR,AAR CORP,11.0,841.022140,892.500,1.061209,12.800
14,11/30/2016,AIR,AAR CORP,11.0,1266.396810,900.700,0.711230,17.700
15,02/28/2017,AIR,AAR CORP,11.0,1181.432080,914.400,0.773976,22.100
16,05/31/2017,AIR,AAR CORP,11.0,1200.328760,951.400,0.792616,37.600
17,08/31/2017,AIR,AAR CORP,11.0,1248.469320,962.400,0.770864,14.800
18,11/30/2017,AIR,AAR CORP,11.0,1444.031820,922.100,0.638559,20.700
19,02/28/2018,AIR,AAR CORP,11.0,1473.268000,915.200,0.621204,22.000
20,03/31/2013,AAL,AMERICAN AIRLINES GROUP INC,14.0,1390.499000,-8376.000,-6.023737,240.000
21,06/30/2013,AAL,AMERICAN AIRLINES GROUP INC,14.0,1350.291800,-8216.000,-6.084611,599.000
22,09/30/2013,AAL,AMERICAN AIRLINES GROUP INC,14.0,1377.096600,-7922.000,-5.752683,799.000
23,12/31/2013,AAL,AMERICAN AIRLINES GROUP INC,14.0,6591.992250,-2731.000,-0.414291,626.000
24,03/31/2014,AAL,AMERICAN AIRLINES GROUP INC,14.0,23788.279800,1095.000,0.046031,733.000
25,06/30/2014,AAL,AMERICAN AIRLINES GROUP INC,14.0,30952.765920,4086.000,0.132008,1790.000
26,09/30/2014,AAL,AMERICAN AIRLINES GROUP INC,14.0,25448.313840,4971.000,0.195337,1647.000
27,12/31/2014,AAL,AMERICAN AIRLINES GROUP INC,14.0,37405.584250,2021.000,0.054029,1500.000
28,03/31/2015,AAL,AMERICAN AIRLINES GROUP INC,14.0,36618.816780,2764.000,0.075480,1697.000
29,06/30/2015,AAL,AMERICAN AIRLINES GROUP INC,14.0,27087.471215,3636.000,0.134232,2243.000
...,...,...,...,...,...,...,...,...
160734,12/31/2016,LPG,DORIAN LPG LTD,11.0,451.279070,972.899,2.155870,4.928
160735,03/31/2017,LPG,DORIAN LPG LTD,11.0,578.886750,976.002,1.685998,17.283
160736,06/30/2017,LPG,DORIAN LPG LTD,11.0,450.758900,969.751,2.151374,7.888
160737,09/30/2017,LPG,DORIAN LPG LTD,11.0,375.884300,959.011,2.551346,3.690
160738,12/31/2017,LPG,DORIAN LPG LTD,11.0,453.127500,961.959,2.122932,14.145
160747,03/31/2015,NOMD,NOMAD FOODS LTD,11.0,1834.280960,-354.560,-0.193296,-126.852
160749,09/30/2015,NOMD,NOMAD FOODS LTD,11.0,2783.539200,NaN,NaN,36.205
160750,12/31/2015,NOMD,NOMAD FOODS LTD,11.0,2141.184000,NaN,NaN,65.353
160751,03/31/2016,NOMD,NOMAD FOODS LTD,11.0,1640.405650,2555.461,1.557823,89.184
160752,06/30/2016,NOMD,NOMAD FOODS LTD,11.0,1452.878700,2443.588,1.681894,61.403
160753,09/30/2016,NOMD,NOMAD FOODS LTD,11.0,2152.291980,2516.413,1.169178,74.961
160754,12/31/2016,NOMD,NOMAD FOODS LTD,11.0,1756.946730,2359.110,1.342733,29.494
160755,03/31/2017,NOMD,NOMAD FOODS LTD,11.0,2102.094050,2437.967,1.159780,74.672
160756,06/30/2017,NOMD,NOMAD FOODS LTD,11.0,2453.094050,2504.372,1.020903,73.900
160757,09/30/2017,NOMD,NOMAD FOODS LTD,11.0,2430.159440,2535.425,1.043316,82.845
160767,06/30/2017,ARGX,ARGEN-X SE,14.0,569.933910,171.455,0.300833,-7.461
160768,09/30/2017,ARGX,ARGEN-X SE,14.0,607.553310,NaN,NaN,-8.219
160769,12/31/2017,ARGX,ARGEN-X SE,14.0,1696.634940,NaN,NaN,-11.644
160781,12/31/2016,ATH,ATHENE HOLDING LTD,11.0,9617.723890,6910.000,0.718465,399.000
160782,03/31/2017,ATH,ATHENE HOLDING LTD,11.0,9805.038600,7597.000,0.774806,464.000
160783,06/30/2017,ATH,ATHENE HOLDING LTD,11.0,9925.423090,8284.000,0.834624,372.000
160784,09/30/2017,ATH,ATHENE HOLDING LTD,11.0,10765.631040,8669.000,0.805248,356.000
160785,12/31/2017,ATH,ATHENE HOLDING LTD,11.0,10334.398630,9249.000,0.894972,579.000
160797,12/31/2015,MTP,MIDATECH PHARMA PLC,14.0,81.159900,77.319,0.952675,-6.873
160799,06/30/2016,MTP,MIDATECH PHARMA PLC,14.0,47.331116,61.245,1.293969,-10.838
160801,12/31/2016,MTP,MIDATECH PHARMA PLC,14.0,67.206000,55.175,0.820983,-7.532
160803,06/30/2017,MTP,MIDATECH PHARMA PLC,14.0,62.846364,46.538,0.740504,-11.460
160814,09/30/2016,MTFB,MOTIF BIO PLC,14.0,115.308540,NaN,NaN,NaN
160815,12/31/2016,MTFB,MOTIF BIO PLC,14.0,60.590338,9.809,0.161890,-26.010
160817,06/30/2017,MTFB,MOTIF BIO PLC,14.0,97.542938,5.522,0.056611,-28.222

As we can see, there are some NaNs in ME or BE or PB columns. Therefore, we are going to drop entire rows in this case.

In [9]:
clean_df.dropna(axis=0, how='any', subset=['ME', 'BE', 'PB'], inplace=True)

In [10]:
clean_df

,Date,Ticker,Company,Stock Exchange Code,ME,BE,BE/ME,PB
0,05/31/2013,AIR,AAR CORP,11.0,790.002920,1057.700,1.338856,55.200
1,08/31/2013,AIR,AAR CORP,11.0,993.112380,1086.200,1.093733,54.000
2,11/30/2013,AIR,AAR CORP,11.0,1236.312000,1120.700,0.906486,54.500
3,02/28/2014,AIR,AAR CORP,11.0,1143.544100,1131.300,0.989293,50.000
4,05/31/2014,AIR,AAR CORP,11.0,961.308000,1162.900,1.209706,49.200
5,08/31/2014,AIR,AAR CORP,11.0,1104.620600,1167.500,1.056924,36.900
6,11/30/2014,AIR,AAR CORP,11.0,1019.843330,1171.100,1.148314,38.600
7,02/28/2015,AIR,AAR CORP,11.0,1170.590400,1080.900,0.923380,20.600
8,05/31/2015,AIR,AAR CORP,11.0,1046.395420,949.700,0.907592,-52.000
9,08/31/2015,AIR,AAR CORP,11.0,856.561980,958.100,1.118541,29.800
10,11/30/2015,AIR,AAR CORP,11.0,860.680640,966.600,1.123065,32.200
11,02/29/2016,AIR,AAR CORP,11.0,739.784920,938.100,1.268071,33.000
12,05/31/2016,AIR,AAR CORP,11.0,842.511150,900.100,1.068354,35.200
13,08/31/2016,AIR,AAR CORP,11.0,841.022140,892.500,1.061209,12.800
14,11/30/2016,AIR,AAR CORP,11.0,1266.396810,900.700,0.711230,17.700
15,02/28/2017,AIR,AAR CORP,11.0,1181.432080,914.400,0.773976,22.100
16,05/31/2017,AIR,AAR CORP,11.0,1200.328760,951.400,0.792616,37.600
17,08/31/2017,AIR,AAR CORP,11.0,1248.469320,962.400,0.770864,14.800
18,11/30/2017,AIR,AAR CORP,11.0,1444.031820,922.100,0.638559,20.700
19,02/28/2018,AIR,AAR CORP,11.0,1473.268000,915.200,0.621204,22.000
20,03/31/2013,AAL,AMERICAN AIRLINES GROUP INC,14.0,1390.499000,-8376.000,-6.023737,240.000
21,06/30/2013,AAL,AMERICAN AIRLINES GROUP INC,14.0,1350.291800,-8216.000,-6.084611,599.000
22,09/30/2013,AAL,AMERICAN AIRLINES GROUP INC,14.0,1377.096600,-7922.000,-5.752683,799.000
23,12/31/2013,AAL,AMERICAN AIRLINES GROUP INC,14.0,6591.992250,-2731.000,-0.414291,626.000
24,03/31/2014,AAL,AMERICAN AIRLINES GROUP INC,14.0,23788.279800,1095.000,0.046031,733.000
25,06/30/2014,AAL,AMERICAN AIRLINES GROUP INC,14.0,30952.765920,4086.000,0.132008,1790.000
26,09/30/2014,AAL,AMERICAN AIRLINES GROUP INC,14.0,25448.313840,4971.000,0.195337,1647.000
27,12/31/2014,AAL,AMERICAN AIRLINES GROUP INC,14.0,37405.584250,2021.000,0.054029,1500.000
28,03/31/2015,AAL,AMERICAN AIRLINES GROUP INC,14.0,36618.816780,2764.000,0.075480,1697.000
29,06/30/2015,AAL,AMERICAN AIRLINES GROUP INC,14.0,27087.471215,3636.000,0.134232,2243.000
...,...,...,...,...,...,...,...,...
160729,09/30/2015,LPG,DORIAN LPG LTD,11.0,594.938550,925.527,1.555668,54.832
160730,12/31/2015,LPG,DORIAN LPG LTD,11.0,673.538250,975.355,1.448106,61.501
160731,03/31/2016,LPG,DORIAN LPG LTD,11.0,527.575000,985.599,1.868169,51.004
160732,06/30/2016,LPG,DORIAN LPG LTD,11.0,388.462050,973.876,2.507004,21.016
160733,09/30/2016,LPG,DORIAN LPG LTD,11.0,329.838000,966.798,2.931130,4.441
160734,12/31/2016,LPG,DORIAN LPG LTD,11.0,451.279070,972.899,2.155870,4.928
160735,03/31/2017,LPG,DORIAN LPG LTD,11.0,578.886750,976.002,1.685998,17.283
160736,06/30/2017,LPG,DORIAN LPG LTD,11.0,450.758900,969.751,2.151374,7.888
160737,09/30/2017,LPG,DORIAN LPG LTD,11.0,375.884300,959.011,2.551346,3.690
160738,12/31/2017,LPG,DORIAN LPG LTD,11.0,453.127500,961.959,2.122932,14.145
160747,03/31/2015,NOMD,NOMAD FOODS LTD,11.0,1834.280960,-354.560,-0.193296,-126.852
160751,03/31/2016,NOMD,NOMAD FOODS LTD,11.0,1640.405650,2555.461,1.557823,89.184
160752,06/30/2016,NOMD,NOMAD FOODS LTD,11.0,1452.878700,2443.588,1.681894,61.403
160753,09/30/2016,NOMD,NOMAD FOODS LTD,11.0,2152.291980,2516.413,1.169178,74.961
160754,12/31/2016,NOMD,NOMAD FOODS LTD,11.0,1756.946730,2359.110,1.342733,29.494
160755,03/31/2017,NOMD,NOMAD FOODS LTD,11.0,2102.094050,2437.967,1.159780,74.672
160756,06/30/2017,NOMD,NOMAD FOODS LTD,11.0,2453.094050,2504.372,1.020903,73.900
160757,09/30/2017,NOMD,NOMAD FOODS LTD,11.0,2430.159440,2535.425,1.043316,82.845
160767,06/30/2017,ARGX,ARGEN-X SE,14.0,569.933910,171.455,0.300833,-7.461
160781,12/31/2016,ATH,ATHENE HOLDING LTD,11.0,9617.723890,6910.000,0.718465,399.000
160782,03/31/2017,ATH,ATHENE HOLDING LTD,11.0,9805.038600,7597.000,0.774806,464.000
160783,06/30/2017,ATH,ATHENE HOLDING LTD,11.0,9925.423090,8284.000,0.834624,372.000
160784,09/30/2017,ATH,ATHENE HOLDING LTD,11.0,10765.631040,8669.000,0.805248,356.000
160785,12/31/2017,ATH,ATHENE HOLDING LTD,11.0,10334.398630,9249.000,0.894972,579.000
160797,12/31/2015,MTP,MIDATECH PHARMA PLC,14.0,81.159900,77.319,0.952675,-6.873
160799,06/30/2016,MTP,MIDATECH PHARMA PLC,14.0,47.331116,61.245,1.293969,-10.838
160801,12/31/2016,MTP,MIDATECH PHARMA PLC,14.0,67.206000,55.175,0.820983,-7.532
160803,06/30/2017,MTP,MIDATECH PHARMA PLC,14.0,62.846364,46.538,0.740504,-11.460
160815,12/31/2016,MTFB,MOTIF BIO PLC,14.0,60.590338,9.809,0.161890,-26.010
160817,06/30/2017,MTFB,MOTIF BIO PLC,14.0,97.542938,5.522,0.056611,-28.222

# 4. Calculate Factor Break Points

Below is one example of portfolio construction. You can modify the code to make your own choices.
<br>

Rebalance Frequency: Annual Rebalance

Rebalance Date: end of March
<br>

Details: 

In **May** or **Jun** of year $t-1$, all NYSE stocks are ranked on size. The median NYSE size is then used to split NYSE, Amex and NASDAQ stocks into two groups, small and big (S and B).

Also rank NYSE, Amex and NASDAQ stocks into two book-to-market equity groups based on the ranked values of BE/ME for NYSE stocks in **Nov** or **Dec** of year $t-1$. If BE/ME ratio is high, then stock is considered value stock (V). If BE/ME is low, the stock is considered growth stock (G).

The methdology above is just one example. For more details, please look at [Ken French Library](http://mba.tuck.dartmouth.edu/pages/faculty/ken.french/Data_Library/det_beme_breakpoints.html)

In [11]:
# convert Date column to datetime
clean_df.loc[:, 'Date'] = pd.to_datetime(clean_df.loc[:, 'Date'], format='%m/%d/%Y')

In [12]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 104555 entries, 0 to 160817
Data columns (total 8 columns):
Date                   104555 non-null datetime64[ns]
Ticker                 104555 non-null object
Company                104555 non-null object
Stock Exchange Code    104555 non-null float64
ME                     104555 non-null float64
BE                     104555 non-null float64
BE/ME                  104555 non-null float64
PB                     104555 non-null float64
dtypes: datetime64[ns](1), float64(5), object(2)
memory usage: 7.2+ MB

In [13]:
# get data with month equals to May or Jun and listed on NYSE exchange for ME breakpoint calculation
me_df = clean_df.loc[((clean_df['Date'].dt.month == 5) | (clean_df['Date'].dt.month == 6))\
                     & (clean_df['Stock Exchange Code'] == 11)].copy()

In [14]:
me_df

,Date,Ticker,Company,Stock Exchange Code,ME,BE,BE/ME,PB
0,2013-05-31,AIR,AAR CORP,11.0,790.00292,1057.700,1.338856,55.200
4,2014-05-31,AIR,AAR CORP,11.0,961.30800,1162.900,1.209706,49.200
8,2015-05-31,AIR,AAR CORP,11.0,1046.39542,949.700,0.907592,-52.000
12,2016-05-31,AIR,AAR CORP,11.0,842.51115,900.100,1.068354,35.200
16,2017-05-31,AIR,AAR CORP,11.0,1200.32876,951.400,0.792616,37.600
60,2013-05-31,ASA,ASA GOLD AND PRECIOUS METALS,11.0,276.61860,302.358,1.093050,1.047
64,2014-05-31,ASA,ASA GOLD AND PRECIOUS METALS,11.0,251.54160,266.511,1.059511,-0.094
68,2015-05-31,ASA,ASA GOLD AND PRECIOUS METALS,11.0,205.82430,227.606,1.105827,-0.150
72,2016-05-31,ASA,ASA GOLD AND PRECIOUS METALS,11.0,227.04330,260.266,1.146328,-0.328
76,2017-05-31,ASA,ASA GOLD AND PRECIOUS METALS,11.0,229.16520,260.144,1.135181,-0.071
80,2013-06-30,AVX,AVX CORP,11.0,1981.39075,1991.346,1.005024,52.005
84,2014-06-30,AVX,AVX CORP,11.0,2232.16880,2073.924,0.929107,65.991
88,2015-06-30,AVX,AVX CORP,11.0,2261.14540,2160.877,0.955656,58.714
92,2016-06-30,AVX,AVX CORP,11.0,2273.93026,2187.954,0.962190,50.427
96,2017-06-30,AVX,AVX CORP,11.0,2747.47296,2252.750,0.819935,52.786
100,2013-06-30,PNW,PINNACLE WEST CAPITAL CORP,11.0,6101.31171,6465.079,1.059621,314.797
104,2014-06-30,PNW,PINNACLE WEST CAPITAL CORP,11.0,6385.94088,6959.124,1.089757,307.512
108,2015-06-30,PNW,PINNACLE WEST CAPITAL CORP,11.0,6304.03779,7316.306,1.160575,306.384
112,2016-06-30,PNW,PINNACLE WEST CAPITAL CORP,11.0,9011.76444,7698.922,0.854319,301.972
116,2017-06-30,PNW,PINNACLE WEST CAPITAL CORP,11.0,9505.81468,8245.053,0.867369,374.999
120,2013-06-30,AAN,AARON'S INC,11.0,2127.91970,1470.038,0.690833,228.794
124,2014-06-30,AAN,AARON'S INC,11.0,2577.02148,1400.608,0.543499,288.149
128,2015-06-30,AAN,AARON'S INC,11.0,2628.01317,1515.227,0.576568,376.372
132,2016-06-30,AAN,AARON'S INC,11.0,1592.97908,1755.492,1.102018,405.185
136,2017-06-30,AAN,AARON'S INC,11.0,2751.12470,1802.105,0.655043,433.448
140,2013-06-30,ABT,ABBOTT LABORATORIES,11.0,54207.88000,22427.646,0.413734,819.116
144,2014-06-30,ABT,ABBOTT LABORATORIES,11.0,61501.28910,23704.000,0.385423,1164.000
148,2015-06-30,ABT,ABBOTT LABORATORIES,11.0,73150.84428,23126.000,0.316141,1147.000
152,2016-06-30,ABT,ABBOTT LABORATORIES,11.0,57785.50345,20795.000,0.359865,1197.000
156,2017-06-30,ABT,ABBOTT LABORATORIES,11.0,84457.10423,31788.000,0.376380,1519.000
...,...,...,...,...,...,...,...,...
160339,2017-06-30,VLRS,CONTROLADORA VUELA COMPANIA,11.0,1453.10850,540.381,0.371879,7.860
160478,2014-06-30,AVH,AVIANCA HOLDINGS SA,11.0,2000.19915,1168.051,0.583967,64.217
160482,2015-06-30,AVH,AVIANCA HOLDINGS SA,11.0,1276.13952,1317.417,1.032346,16.219
160486,2016-06-30,AVH,AVIANCA HOLDINGS SA,11.0,767.67768,1332.072,1.735197,46.411
160490,2017-06-30,AVH,AVIANCA HOLDINGS SA,11.0,810.04950,1400.737,1.729199,89.862
160564,2016-06-30,FRO,FRONTLINE LTD,11.0,1230.76569,1421.373,1.154869,84.837
160568,2017-06-30,FRO,FRONTLINE LTD,11.0,973.00557,1459.453,1.499943,21.028
160594,2014-06-30,PAH,PLATFORM SPECIALTY PRODUCTS,11.0,3848.26673,1792.479,0.465789,40.910
160598,2015-06-30,PAH,PLATFORM SPECIALTY PRODUCTS,11.0,5393.82438,3424.100,0.634819,115.844
160602,2016-06-30,PAH,PLATFORM SPECIALTY PRODUCTS,11.0,2038.82136,3301.600,1.619367,96.300
160606,2017-06-30,PAH,PLATFORM SPECIALTY PRODUCTS,11.0,3630.08112,3618.000,0.996672,97.600
160646,2014-06-30,SALT,SCORPIO BULKERS,11.0,1248.19830,1132.192,0.907061,-15.289
160650,2015-06-30,SALT,SCORPIO BULKERS,11.0,546.55530,1240.502,2.269673,-14.066
160654,2016-06-30,SALT,SCORPIO BULKERS,11.0,202.87206,988.952,4.874757,-16.193
160658,2017-06-30,SALT,SCORPIO BULKERS,11.0,535.78020,916.188,1.710007,-1.662
160666,2014-06-30,ALLE,ALLEGION PLC,11.0,5446.94800,-11.200,-0.002056,100.600
160670,2015-06-30,ALLE,ALLEGION PLC,11.0,5761.41200,72.700,0.012618,102.900
160674,2016-06-30,ALLE,ALLEGION PLC,11.0,6720.82400,142.800,0.021247,125.100
160678,2017-06-30,ALLE,ALLEGION PLC,11.0,7704.77760,269.400,0.034965,135.600
160705,2014-06-30,NAO,NORDIC AMERICAN OFFSHORE,11.0,448.23503,339.455,0.757315,7.727
160709,2015-06-30,NAO,NORDIC AMERICAN OFFSHORE,11.0,189.93876,300.577,1.582494,2.816
160713,2016-06-30,NAO,NORDIC AMERICAN OFFSHORE,11.0,97.56294,254.429,2.607845,-3.273
160717,2017-06-30,NAO,NORDIC AMERICAN OFFSHORE,11.0,77.48375,264.880,3.418523,-3.606
160724,2014-06-30,LPG,DORIAN LPG LTD,11.0,1328.43117,849.562,0.639523,6.742
160728,2015-06-30,LPG,DORIAN LPG LTD,11.0,951.71076,887.764,0.932809,15.285
160732,2016-06-30,LPG,DORIAN LPG LTD,11.0,388.46205,973.876,2.507004,21.016
160736,2017-06-30,LPG,DORIAN LPG LTD,11.0,450.75890,969.751,2.151374,7.888
160752,2016-06-30,NOMD,NOMAD FOODS LTD,11.0,1452.87870,2443.588,1.681894,61.403
160756,2017-06-30,NOMD,NOMAD FOODS LTD,11.0,2453.09405,2504.372,1.020903,73.900
160783,2017-06-30,ATH,ATHENE HOLDING LTD,11.0,9925.42309,8284.000,0.834624,372.000

In [15]:
for yy in list(sorted(set(me_df['Date'].dt.year))):
    tmp_df = me_df.loc[me_df['Date'].dt.year == yy].copy()
    
    me_br_pt = np.nanmedian(tmp_df['ME'])
    
    clean_df.loc[clean_df['Date'].dt.year == yy, 'Group1'] = np.where(clean_df.loc[clean_df['Date'].dt.year == yy, 'ME'] <= me_br_pt, "Small", "Big")

In [16]:
# get data with month equals to Nov or Dec and listed on NYSE exchange for BE/ME breakpoint calculation
be_df = clean_df.loc[((clean_df['Date'].dt.month == 11) | (clean_df['Date'].dt.month == 12))\
                     & (clean_df['Stock Exchange Code'] == 11)].copy()

In [17]:
for yy in list(sorted(set(be_df['Date'].dt.year))):
    tmp_df = be_df.loc[be_df['Date'].dt.year == yy].copy()
    
    be_br_pt = np.nanmedian(tmp_df['BE/ME'])
    
    clean_df.loc[clean_df['Date'].dt.year == yy, 'Group2'] = np.where(clean_df.loc[clean_df['Date'].dt.year == yy, 'BE/ME'] <= be_br_pt, "Growth", "Value")

We are going to drop NaNs in Group1 or Group2. **Q: Why do we have NaNs in Group1 or Group2 when info shows they are non-null?**

In [18]:
category = clean_df.loc[(clean_df['Group1'] != 'nan') | (clean_df['Group2'] != 'nan')].copy().reset_index(drop=True)

In [19]:
category

,Date,Ticker,Company,Stock Exchange Code,ME,BE,BE/ME,PB,Group1,Group2
0,2013-05-31,AIR,AAR CORP,11.0,790.002920,1057.700,1.338856,55.200,Small,Value
1,2013-08-31,AIR,AAR CORP,11.0,993.112380,1086.200,1.093733,54.000,Small,Value
2,2013-11-30,AIR,AAR CORP,11.0,1236.312000,1120.700,0.906486,54.500,Small,Value
3,2014-02-28,AIR,AAR CORP,11.0,1143.544100,1131.300,0.989293,50.000,Small,Value
4,2014-05-31,AIR,AAR CORP,11.0,961.308000,1162.900,1.209706,49.200,Small,Value
5,2014-08-31,AIR,AAR CORP,11.0,1104.620600,1167.500,1.056924,36.900,Small,Value
6,2014-11-30,AIR,AAR CORP,11.0,1019.843330,1171.100,1.148314,38.600,Small,Value
7,2015-02-28,AIR,AAR CORP,11.0,1170.590400,1080.900,0.923380,20.600,Small,Value
8,2015-05-31,AIR,AAR CORP,11.0,1046.395420,949.700,0.907592,-52.000,Small,Value
9,2015-08-31,AIR,AAR CORP,11.0,856.561980,958.100,1.118541,29.800,Small,Value
10,2015-11-30,AIR,AAR CORP,11.0,860.680640,966.600,1.123065,32.200,Small,Value
11,2016-02-29,AIR,AAR CORP,11.0,739.784920,938.100,1.268071,33.000,Small,Value
12,2016-05-31,AIR,AAR CORP,11.0,842.511150,900.100,1.068354,35.200,Small,Value
13,2016-08-31,AIR,AAR CORP,11.0,841.022140,892.500,1.061209,12.800,Small,Value
14,2016-11-30,AIR,AAR CORP,11.0,1266.396810,900.700,0.711230,17.700,Small,Value
15,2017-02-28,AIR,AAR CORP,11.0,1181.432080,914.400,0.773976,22.100,Small,Value
16,2017-05-31,AIR,AAR CORP,11.0,1200.328760,951.400,0.792616,37.600,Small,Value
17,2017-08-31,AIR,AAR CORP,11.0,1248.469320,962.400,0.770864,14.800,Small,Value
18,2017-11-30,AIR,AAR CORP,11.0,1444.031820,922.100,0.638559,20.700,Small,Value
19,2018-02-28,AIR,AAR CORP,11.0,1473.268000,915.200,0.621204,22.000,NaN,NaN
20,2013-03-31,AAL,AMERICAN AIRLINES GROUP INC,14.0,1390.499000,-8376.000,-6.023737,240.000,Small,Growth
21,2013-06-30,AAL,AMERICAN AIRLINES GROUP INC,14.0,1350.291800,-8216.000,-6.084611,599.000,Small,Growth
22,2013-09-30,AAL,AMERICAN AIRLINES GROUP INC,14.0,1377.096600,-7922.000,-5.752683,799.000,Small,Growth
23,2013-12-31,AAL,AMERICAN AIRLINES GROUP INC,14.0,6591.992250,-2731.000,-0.414291,626.000,Big,Growth
24,2014-03-31,AAL,AMERICAN AIRLINES GROUP INC,14.0,23788.279800,1095.000,0.046031,733.000,Big,Growth
25,2014-06-30,AAL,AMERICAN AIRLINES GROUP INC,14.0,30952.765920,4086.000,0.132008,1790.000,Big,Growth
26,2014-09-30,AAL,AMERICAN AIRLINES GROUP INC,14.0,25448.313840,4971.000,0.195337,1647.000,Big,Growth
27,2014-12-31,AAL,AMERICAN AIRLINES GROUP INC,14.0,37405.584250,2021.000,0.054029,1500.000,Big,Growth
28,2015-03-31,AAL,AMERICAN AIRLINES GROUP INC,14.0,36618.816780,2764.000,0.075480,1697.000,Big,Growth
29,2015-06-30,AAL,AMERICAN AIRLINES GROUP INC,14.0,27087.471215,3636.000,0.134232,2243.000,Big,Growth
...,...,...,...,...,...,...,...,...,...,...
104525,2015-09-30,LPG,DORIAN LPG LTD,11.0,594.938550,925.527,1.555668,54.832,Small,Value
104526,2015-12-31,LPG,DORIAN LPG LTD,11.0,673.538250,975.355,1.448106,61.501,Small,Value
104527,2016-03-31,LPG,DORIAN LPG LTD,11.0,527.575000,985.599,1.868169,51.004,Small,Value
104528,2016-06-30,LPG,DORIAN LPG LTD,11.0,388.462050,973.876,2.507004,21.016,Small,Value
104529,2016-09-30,LPG,DORIAN LPG LTD,11.0,329.838000,966.798,2.931130,4.441,Small,Value
104530,2016-12-31,LPG,DORIAN LPG LTD,11.0,451.279070,972.899,2.155870,4.928,Small,Value
104531,2017-03-31,LPG,DORIAN LPG LTD,11.0,578.886750,976.002,1.685998,17.283,Small,Value
104532,2017-06-30,LPG,DORIAN LPG LTD,11.0,450.758900,969.751,2.151374,7.888,Small,Value
104533,2017-09-30,LPG,DORIAN LPG LTD,11.0,375.884300,959.011,2.551346,3.690,Small,Value
104534,2017-12-31,LPG,DORIAN LPG LTD,11.0,453.127500,961.959,2.122932,14.145,Small,Value
104535,2015-03-31,NOMD,NOMAD FOODS LTD,11.0,1834.280960,-354.560,-0.193296,-126.852,Small,Growth
104536,2016-03-31,NOMD,NOMAD FOODS LTD,11.0,1640.405650,2555.461,1.557823,89.184,Small,Value
104537,2016-06-30,NOMD,NOMAD FOODS LTD,11.0,1452.878700,2443.588,1.681894,61.403,Small,Value
104538,2016-09-30,NOMD,NOMAD FOODS LTD,11.0,2152.291980,2516.413,1.169178,74.961,Small,Value
104539,2016-12-31,NOMD,NOMAD FOODS LTD,11.0,1756.946730,2359.110,1.342733,29.494,Small,Value
104540,2017-03-31,NOMD,NOMAD FOODS LTD,11.0,2102.094050,2437.967,1.159780,74.672,Small,Value
104541,2017-06-30,NOMD,NOMAD FOODS LTD,11.0,2453.094050,2504.372,1.020903,73.900,Small,Value
104542,2017-09-30,NOMD,NOMAD FOODS LTD,11.0,2430.159440,2535.425,1.043316,82.845,Small,Value
104543,2017-06-30,ARGX,ARGEN-X SE,14.0,569.933910,171.455,0.300833,-7.461,Small,Growth
104544,2016-12-31,ATH,ATHENE HOLDING LTD,11.0,9617.723890,6910.000,0.718465,399.000,Big,Value
104545,2017-03-31,ATH,ATHENE HOLDING LTD,11.0,9805.038600,7597.000,0.774806,464.000,Big,Value
104546,2017-06-30,ATH,ATHENE HOLDING LTD,11.0,9925.423090,8284.000,0.834624,372.000,Big,Value
104547,2017-09-30,ATH,ATHENE HOLDING LTD,11.0,10765.631040,8669.000,0.805248,356.000,Big,Value
104548,2017-12-31,ATH,ATHENE HOLDING LTD,11.0,10334.398630,9249.000,0.894972,579.000,Big,Value
104549,2015-12-31,MTP,MIDATECH PHARMA PLC,14.0,81.159900,77.319,0.952675,-6.873,Small,Value
104550,2016-06-30,MTP,MIDATECH PHARMA PLC,14.0,47.331116,61.245,1.293969,-10.838,Small,Value
104551,2016-12-31,MTP,MIDATECH PHARMA PLC,14.0,67.206000,55.175,0.820983,-7.532,Small,Value
104552,2017-06-30,MTP,MIDATECH PHARMA PLC,14.0,62.846364,46.538,0.740504,-11.460,Small,Value
104553,2016-12-31,MTFB,MOTIF BIO PLC,14.0,60.590338,9.809,0.161890,-26.010,Small,Growth
104554,2017-06-30,MTFB,MOTIF BIO PLC,14.0,97.542938,5.522,0.056611,-28.222,Small,Growth

# 5. Simulation

The simulation begins in 2014 March and ends in 2017 December. The stocks within each category will be equally weighted. You can choose other weighting methods.

## 5.1 Download Return Data

# 5.2 Return Data Preprocessing

You can difinitely have different ways of implementing logic here. The code below is just a reference.

In [20]:
return_df = pd.read_csv("monthly_total_return.csv")

return_df = return_df.loc[:, ["date", "TICKER", "COMNAM", "sprtrn", "ewretd", "vwretd"]].copy()

# rename column
# The column names below are copied from R to Python, however it is recommended to rename columns without white space in python.
return_df.columns = ["Date", "Ticker", "Company", "S&P_RTN", 'Equally_wt_RTN', "Volume_wt_RTN"]

# drop row that contain NA
return_df.dropna(inplace=True)

return_df.head()

         Date Ticker          Company   S&P_RTN  Equally_wt_RTN  Volume_wt_RTN
0  03/28/2013   EGAS  GAS NATURAL INC  0.035988        0.031419       0.035274
1  04/30/2013   EGAS  GAS NATURAL INC  0.018086        0.002477       0.014945
2  05/31/2013   EGAS  GAS NATURAL INC  0.020763        0.023985       0.019067
3  06/28/2013   EGAS  GAS NATURAL INC -0.014999       -0.013012      -0.015039
4  07/31/2013   EGAS  GAS NATURAL INC  0.049462        0.054898       0.052681

In [21]:
# change Date column to datetime
return_df.loc[:, 'Date'] = pd.to_datetime(return_df.loc[:, 'Date'], format='%m/%d/%Y')

# sort by Ticker and Date column
return_df.sort_values(['Ticker', 'Date'], ascending=[True, True], inplace=True)

In [22]:
return_df.head()

,Date,Ticker,Company,S&P_RTN,Equally_wt_RTN,Volume_wt_RTN
273418,2013-03-28,A,AGILENT TECHNOLOGIES INC,0.035988,0.031419,0.035274
273419,2013-04-30,A,AGILENT TECHNOLOGIES INC,0.018086,0.002477,0.014945
273420,2013-05-31,A,AGILENT TECHNOLOGIES INC,0.020763,0.023985,0.019067
273421,2013-06-28,A,AGILENT TECHNOLOGIES INC,-0.014999,-0.013012,-0.015039
273422,2013-07-31,A,AGILENT TECHNOLOGIES INC,0.049462,0.054898,0.052681

Here I use S_Period to indicate 3 simulation periods and compound the stocks in the same simulation period to get annualized returns.

In [23]:
# set a default value
return_df['S_Period'] = 0
# set values based on multiple conditions
return_df.loc[(return_df['Date']>='2014-04-30') & (return_df['Date']<='2015-03-31'), 'S_Period'] = 1
return_df.loc[(return_df['Date']>='2015-04-30') & (return_df['Date']<='2016-03-31'), 'S_Period'] = 2
return_df.loc[(return_df['Date']>='2016-04-30') & (return_df['Date']<='2017-03-31'), 'S_Period'] = 3
return_df.loc[(return_df['Date']>='2017-04-30') & (return_df['Date']<='2018-03-31'), 'S_Period'] = 4

In [24]:
# check
set(return_df.loc[return_df['S_Period']==0, 'Date'])

{Timestamp('2013-03-28 00:00:00'),
 Timestamp('2013-04-30 00:00:00'),
 Timestamp('2013-05-31 00:00:00'),
 Timestamp('2013-06-28 00:00:00'),
 Timestamp('2013-07-31 00:00:00'),
 Timestamp('2013-08-30 00:00:00'),
 Timestamp('2013-09-30 00:00:00'),
 Timestamp('2013-10-31 00:00:00'),
 Timestamp('2013-11-29 00:00:00'),
 Timestamp('2013-12-31 00:00:00'),
 Timestamp('2014-01-31 00:00:00'),
 Timestamp('2014-02-28 00:00:00'),
 Timestamp('2014-03-31 00:00:00'),
 Timestamp('2016-04-29 00:00:00'),
 Timestamp('2017-04-28 00:00:00')}

**Note: since we drop NA in *M Total Return* column, for some stocks we may not have complete 12 month returns**.
<br>

In that case, I simply drop those stocks for those simulation periods.

In [25]:
filtered_return = return_df.groupby(['Ticker', 'S_Period']).filter(lambda x: len(x) == 12).copy()

In [26]:
filtered_return.reset_index(drop=True, inplace=True)
filtered_return.tail()

,Date,Ticker,Company,S&P_RTN,Equally_wt_RTN,Volume_wt_RTN,S_Period
157171,2015-11-30,ZX,CHINA ZENIX AUTO INTL LTD,0.000505,0.007333,0.002442,2
157172,2015-12-31,ZX,CHINA ZENIX AUTO INTL LTD,-0.017530,-0.035887,-0.022257,2
157173,2016-01-29,ZX,CHINA ZENIX AUTO INTL LTD,-0.050735,-0.074951,-0.057035,2
157174,2016-02-29,ZX,CHINA ZENIX AUTO INTL LTD,-0.004128,0.005557,0.000682,2
157175,2016-03-31,ZX,CHINA ZENIX AUTO INTL LTD,0.065991,0.078191,0.070460,2

## 5.3 Aggragate Monthly Return

In [28]:
filtered_return.loc[:, 'Equally_wt_RTN'] = filtered_return.loc[:, 'Equally_wt_RTN']/100+1

In [30]:
filtered_return['Annual_Return'] = filtered_return.groupby(['Ticker', 'S_Period'])['Equally_wt_RTN'].transform('prod')

In [31]:
filtered_return.head(15)

,Date,Ticker,Company,S&P_RTN,Equally_wt_RTN,Volume_wt_RTN,S_Period,Annual_Return
0,2014-04-30,A,AGILENT TECHNOLOGIES INC,0.006201,0.999777,0.001661,1,1.000188
1,2014-05-30,A,AGILENT TECHNOLOGIES INC,0.021030,1.000066,0.020219,1,1.000188
2,2014-06-30,A,AGILENT TECHNOLOGIES INC,0.019058,1.000395,0.027941,1,1.000188
3,2014-07-31,A,AGILENT TECHNOLOGIES INC,-0.015080,0.999648,-0.020523,1,1.000188
4,2014-08-29,A,AGILENT TECHNOLOGIES INC,0.037655,1.000337,0.040186,1,1.000188
5,2014-09-30,A,AGILENT TECHNOLOGIES INC,-0.015514,0.999550,-0.025129,1,1.000188
6,2014-10-31,A,AGILENT TECHNOLOGIES INC,0.023201,1.000142,0.021184,1,1.000188
7,2014-11-28,A,AGILENT TECHNOLOGIES INC,0.024534,0.999975,0.021150,1,1.000188
8,2014-12-31,A,AGILENT TECHNOLOGIES INC,-0.004189,0.999998,-0.003616,1,1.000188
9,2015-01-30,A,AGILENT TECHNOLOGIES INC,-0.031041,0.999809,-0.027152,1,1.000188
10,2015-02-27,A,AGILENT TECHNOLOGIES INC,0.054893,1.000541,0.055948,1,1.000188
11,2015-03-31,A,AGILENT TECHNOLOGIES INC,-0.017396,0.999949,-0.010439,1,1.000188
12,2015-04-30,A,AGILENT TECHNOLOGIES INC,0.008521,1.000151,0.008723,2,0.999143
13,2015-05-29,A,AGILENT TECHNOLOGIES INC,0.010491,1.000040,0.010326,2,0.999143
14,2015-06-30,A,AGILENT TECHNOLOGIES INC,-0.021012,0.999865,-0.019259,2,0.999143

**Note: All we need is rebalancing date (YYYY-03-31) information. So let's drop some rows.**

In [32]:
annual_return = filtered_return.loc[filtered_return['Date'].dt.month==3].reset_index(drop=True).copy()

In [33]:
annual_return.head()

,Date,Ticker,Company,S&P_RTN,Equally_wt_RTN,Volume_wt_RTN,S_Period,Annual_Return
0,2015-03-31,A,AGILENT TECHNOLOGIES INC,-0.017396,0.999949,-0.010439,1,1.000188
1,2016-03-31,A,AGILENT TECHNOLOGIES INC,0.065991,1.000782,0.070460,2,0.999143
2,2015-03-31,AA,ALCOA INC,-0.017396,0.999949,-0.010439,1,1.000188
3,2016-03-31,AA,ALCOA INC,0.065991,1.000782,0.070460,2,0.999143
4,2016-03-31,AAC,A A C HOLDINGS INC,0.065991,1.000782,0.070460,2,0.999143

## 5.4 Merge Category Table and Return Table

In [42]:
final_res = pd.merge(annual_return, category, on=['Date', 'Ticker', 'Company'], how='inner')
final_res

,Date,Ticker,Company,S&P_RTN,Equally_wt_RTN,Volume_wt_RTN,S_Period,Annual_Return,Stock Exchange Code,ME,BE,BE/ME,PB,Group1,Group2
0,2015-03-31,AAL,AMERICAN AIRLINES GROUP INC,-0.017396,0.999949,-0.010439,1,1.000188,14.0,36618.81678,2764.000,0.075480,1697.000,Big,Growth
1,2016-03-31,AAL,AMERICAN AIRLINES GROUP INC,0.065991,1.000782,0.070460,2,0.999143,14.0,24017.83458,4710.000,0.196104,1612.000,Big,Growth
2,2015-03-31,AAME,ATLANTIC AMERICAN CORP,-0.017396,0.999949,-0.010439,1,1.000188,14.0,82.93740,110.774,1.335634,1.293,Small,Value
3,2016-03-31,AAME,ATLANTIC AMERICAN CORP,0.065991,1.000782,0.070460,2,0.999143,14.0,90.73995,103.944,1.145515,1.667,Small,Value
4,2015-03-31,AAOI,APPLIED OPTOELECTRONICS INC,-0.017396,0.999949,-0.010439,1,1.000188,14.0,206.71484,114.907,0.555872,0.975,Small,Growth
5,2016-03-31,AAOI,APPLIED OPTOELECTRONICS INC,0.065991,1.000782,0.070460,2,0.999143,14.0,254.51370,165.879,0.651749,1.173,Small,Value
6,2015-03-31,AAON,AAON INC,-0.017396,0.999949,-0.010439,1,1.000188,14.0,1328.81463,195.484,0.147112,16.300,Small,Growth
7,2016-03-31,AAON,AAON INC,0.065991,1.000782,0.070460,2,0.999143,14.0,1485.68000,196.346,0.132159,19.989,Small,Growth
8,2015-03-31,AAP,ADVANCE AUTO PARTS INC,-0.017396,0.999949,-0.010439,1,1.000188,11.0,10952.51792,2146.588,0.195990,356.703,Big,Growth
9,2016-03-31,AAP,ADVANCE AUTO PARTS INC,0.065991,1.000782,0.070460,2,0.999143,11.0,11792.04496,3071.433,0.260467,362.729,Big,Growth
10,2015-03-31,AAPL,APPLE INC,-0.017396,0.999949,-0.010439,1,1.000188,14.0,717000.25154,152831.000,0.213153,20594.000,Big,Growth
11,2016-03-31,AAPL,APPLE INC,0.065991,1.000782,0.070460,2,0.999143,14.0,597095.82954,153412.000,0.256930,16143.000,Big,Growth
12,2015-03-31,AAT,AMERICAN ASSETS TRUST INC,-0.017396,0.999949,-0.010439,1,1.000188,11.0,1896.57288,767.773,0.404821,9.130,Small,Growth
13,2016-03-31,AAT,AMERICAN ASSETS TRUST INC,0.065991,1.000782,0.070460,2,0.999143,11.0,1812.64744,820.575,0.452694,10.169,Small,Growth
14,2015-03-31,ABAX,ABAXIS INC,-0.017396,0.999949,-0.010439,1,1.000188,14.0,1444.97529,220.504,0.152601,7.174,Small,Growth
15,2016-03-31,ABAX,ABAXIS INC,0.065991,1.000782,0.070460,2,0.999143,14.0,1017.09912,236.696,0.232717,13.810,Small,Growth
16,2015-03-31,ABBV,ABBVIE INC,-0.017396,0.999949,-0.010439,1,1.000188,11.0,93258.66904,1377.000,0.014765,2039.000,Big,Growth
17,2016-03-31,ABBV,ABBVIE INC,0.065991,1.000782,0.070460,2,0.999143,11.0,92383.54608,10055.000,0.108840,2437.000,Big,Growth
18,2015-03-31,ABC,AMERISOURCEBERGEN CORP,-0.017396,0.999949,-0.010439,1,1.000188,11.0,25133.57370,1916.255,0.076243,423.895,Big,Growth
19,2016-03-31,ABC,AMERISOURCEBERGEN CORP,0.065991,1.000782,0.070460,2,0.999143,11.0,19387.28655,4232.353,0.218306,523.803,Big,Growth
20,2015-03-31,ABCB,AMERIS BANCORP,-0.017396,0.999949,-0.010439,1,1.000188,14.0,849.28298,489.783,0.576702,30.152,Small,Growth
21,2016-03-31,ABCB,AMERIS BANCORP,0.065991,1.000782,0.070460,2,0.999143,14.0,1030.47846,600.828,0.583057,42.154,Small,Value
22,2015-03-31,ABCD,CAMBIUM LEARNING GROUP INC,-0.017396,0.999949,-0.010439,1,1.000188,14.0,143.73892,-76.784,-0.534191,2.582,Small,Growth
23,2016-03-31,ABCD,CAMBIUM LEARNING GROUP INC,0.065991,1.000782,0.070460,2,0.999143,14.0,195.39947,-73.985,-0.378635,4.465,Small,Growth
24,2016-03-31,ABDC,ALCENTRA CAPITAL CORP,0.065991,1.000782,0.070460,2,0.999143,14.0,157.07478,194.568,1.238697,5.604,Small,Value
25,2015-03-31,ABEV,AMBEV SA,-0.017396,0.999949,-0.010439,1,1.000188,11.0,90510.72192,15076.895,0.166576,1139.568,Big,Growth
26,2016-03-31,ABEV,AMBEV SA,0.065991,1.000782,0.070460,2,0.999143,11.0,81297.63950,14501.851,0.178380,943.148,Big,Growth
27,2015-03-31,ABG,ASBURY AUTOMOTIVE GROUP INC,-0.017396,0.999949,-0.010439,1,1.000188,11.0,2264.64120,383.800,0.169475,66.000,Small,Growth
28,2016-03-31,ABG,ASBURY AUTOMOTIVE GROUP INC,0.065991,1.000782,0.070460,2,0.999143,11.0,1388.34784,254.000,0.182951,61.000,Small,Growth
29,2015-03-31,ABIO,ARCA BIOPHARMA INC,-0.017396,0.999949,-0.010439,1,1.000188,14.0,16.74854,12.127,0.724063,-2.741,Small,Value
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3834,2016-03-31,XYL,XYLEM INC,0.065991,1.000782,0.070460,2,0.999143,11.0,7317.01000,2265.000,0.309553,110.000,Big,Growth
3835,2015-03-31,YELP,YELP INC,-0.017396,0.999949,-0.010439,1,1.000188,11.0,3534.72485,656.656,0.185773,2.751,Big,Growth
3836,2016-03-31,YELP,YELP INC,0.065991,1.000782,0.070460,2,0.999143,11.0,1519.32900,700.694,0.461186,-6.084,Small,Growth
3837,2015-03-31,YUM,YUM BRANDS INC,-0.017396,0.999949,-0.010439,1,1.000188,11.0,34085.76000,1763.000,0.051722,600.000,Big,Growth
3838,2016-03-31,YUM,YUM BRANDS INC,0.065991,1.000782,0.070460,2,0.999143,11.0,33312.95000,210.000,0.006304,383.000,Big,Growth
3839,2015-03-31,Z,ZILLOW GROUP INC,-0.017396,0.999949,-0.010439,1,1.000188,14.0,5864.13980,2667.970,0.454964,-7.083,Big,Growth
3840,2016-03-31,Z,ZILLOW GROUP INC,0.065991,1.000782,0.070460,2,0.999143,14.0,4574.44645,2661.455,0.581809,-25.250,Big,Value
3841,2015-03-31,ZAGG,ZAGG INC,-0.017396,0.999949,-0.010439,1,1.000188,14.0,255.87771,129.983,0.507989,8.356,Small,Growth
3842,2016-03-31,ZAGG,ZAGG INC,0.065991,1.000782,0.070460,2,0.999143,14.0,253.47833,131.479,0.518699,4.712,Small,Growth
3843,2016-03-31,ZAYO,ZAYO GROUP HOLDINGS INC,0.065991,1.000782,0.070460,2,0.999143,11.0,5871.63096,1394.600,0.237515,151.200,Big,Growth
3844,2015-03-31,ZAZA,ZAZA ENERGY CORP,-0.017396,0.999949,-0.010439,1,1.000188,19.0,21.67085,-65.399,-3.017833,-6.429,Small,Growth
3845,2016-03-31,ZEN,ZENDESK INC,0.065991,1.000782,0.070460,2,0.999143,11.0,1915.09500,289.851,0.151351,-20.161,Small,Growth
3846,2015-03-31,ZEUS,OLYMPIC STEEL INC,-0.017396,0.999949,-0.010439,1,1.000188,14.0,148.03308,311.061,2.101294,6.594,Small,Value
3847,2016-03-31,ZEUS,OLYMPIC STEEL INC,0.065991,1.000782,0.070460,2,0.999143,14.0,189.70029,278.020,1.465575,3.481,Small,Value
3848,2016-03-31,ZFGN,ZAFGEN INC,0.065991,1.000782,0.070460,2,0.999143,14.0,182.15692,154.428,0.847775,-17.967,Small,Value
3849,2015-03-31,ZGNX,ZOGENIX INC,-0.017396,0.999949,-0.010439,1,1.000188,14.0,210.11005,54.793,0.260782,-11.049,Small,Growth
3850,2016-03-31,ZGNX,ZOGENIX INC,0.065991,1.000782,0.070460,2,0.999143,14.0,228.89328,192.309,0.840169,-13.000,Small,Value
3851,2015-03-31,ZION,ZIONS BANCORPORATION,-0.017396,0.999949,-0.010439,1,1.000188,14.0,5486.21100,6450.266,1.175723,233.607,Big,Value
3852,2016-03-31,ZION,ZIONS BANCORPORATION,0.065991,1.000782,0.070460,2,0.999143,14.0,4952.01024,6797.247,1.372624,207.326,Big,Value
3853,2015-03-31,ZIOP,ZIOPHARM ONCOLOGY INC,-0.017396,0.999949,-0.010439,1,1.000188,14.0,1381.06941,120.603,0.087326,-78.105,Small,Growth
3854,2016-03-31,ZIOP,ZIOPHARM ONCOLOGY INC,0.065991,1.000782,0.070460,2,0.999143,14.0,977.97826,77.813,0.079565,-11.968,Small,Growth
3855,2015-03-31,ZIXI,ZIX CORP,-0.017396,0.999949,-0.010439,1,1.000188,14.0,225.48768,59.218,0.262622,2.511,Small,Growth
3856,2016-03-31,ZIXI,ZIX CORP,0.065991,1.000782,0.070460,2,0.999143,14.0,218.99532,53.271,0.243252,3.002,Small,Growth
3857,2015-03-31,ZN,ZION OIL & GAS INC,-0.017396,0.999949,-0.010439,1,1.000188,14.0,62.66262,8.724,0.139222,-1.520,Small,Growth
3858,2016-03-31,ZN,ZION OIL & GAS INC,0.065991,1.000782,0.070460,2,0.999143,14.0,68.35664,8.110,0.118642,-1.558,Small,Growth
3859,2015-03-31,ZNGA,ZYNGA INC,-0.017396,0.999949,-0.010439,1,1.000188,14.0,2604.32145,1879.544,0.721702,-23.486,Small,Value
3860,2016-03-31,ZNGA,ZYNGA INC,0.065991,1.000782,0.070460,2,0.999143,14.0,1988.59776,1683.239,0.846445,-13.573,Small,Value
3861,2016-03-31,ZSAN,ZOSANO PHARMA CORP,0.065991,1.000782,0.070460,2,0.999143,14.0,27.52640,18.740,0.680801,-6.992,Small,Value
3862,2015-03-31,ZTS,ZOETIS INC,-0.017396,0.999949,-0.010439,1,1.000188,11.0,23162.03472,1561.000,0.067395,326.000,Big,Growth
3863,2016-03-31,ZTS,ZOETIS INC,0.065991,1.000782,0.070460,2,0.999143,11.0,22006.16561,1457.000,0.066209,384.000,Big,Growth

**Q: Why does the table have Stock Exchange Code_x and Stock Exchange Code_y?**

In [46]:
# select useful columns
#final_res = final_res.loc[:, ['Date', 'Ticker', 'Company', 'Annual_Return', 'Group1', 'Group2']]
final_res

,Date,Ticker,Company,S&P_RTN,Equally_wt_RTN,Volume_wt_RTN,S_Period,Annual_Return,Stock Exchange Code,ME,BE,BE/ME,PB,Group1,Group2
0,2015-03-31,AAL,AMERICAN AIRLINES GROUP INC,-0.017396,0.999949,-0.010439,1,1.000188,14.0,36618.81678,2764.000,0.075480,1697.000,Big,Growth
1,2016-03-31,AAL,AMERICAN AIRLINES GROUP INC,0.065991,1.000782,0.070460,2,0.999143,14.0,24017.83458,4710.000,0.196104,1612.000,Big,Growth
2,2015-03-31,AAME,ATLANTIC AMERICAN CORP,-0.017396,0.999949,-0.010439,1,1.000188,14.0,82.93740,110.774,1.335634,1.293,Small,Value
3,2016-03-31,AAME,ATLANTIC AMERICAN CORP,0.065991,1.000782,0.070460,2,0.999143,14.0,90.73995,103.944,1.145515,1.667,Small,Value
4,2015-03-31,AAOI,APPLIED OPTOELECTRONICS INC,-0.017396,0.999949,-0.010439,1,1.000188,14.0,206.71484,114.907,0.555872,0.975,Small,Growth
5,2016-03-31,AAOI,APPLIED OPTOELECTRONICS INC,0.065991,1.000782,0.070460,2,0.999143,14.0,254.51370,165.879,0.651749,1.173,Small,Value
6,2015-03-31,AAON,AAON INC,-0.017396,0.999949,-0.010439,1,1.000188,14.0,1328.81463,195.484,0.147112,16.300,Small,Growth
7,2016-03-31,AAON,AAON INC,0.065991,1.000782,0.070460,2,0.999143,14.0,1485.68000,196.346,0.132159,19.989,Small,Growth
8,2015-03-31,AAP,ADVANCE AUTO PARTS INC,-0.017396,0.999949,-0.010439,1,1.000188,11.0,10952.51792,2146.588,0.195990,356.703,Big,Growth
9,2016-03-31,AAP,ADVANCE AUTO PARTS INC,0.065991,1.000782,0.070460,2,0.999143,11.0,11792.04496,3071.433,0.260467,362.729,Big,Growth
10,2015-03-31,AAPL,APPLE INC,-0.017396,0.999949,-0.010439,1,1.000188,14.0,717000.25154,152831.000,0.213153,20594.000,Big,Growth
11,2016-03-31,AAPL,APPLE INC,0.065991,1.000782,0.070460,2,0.999143,14.0,597095.82954,153412.000,0.256930,16143.000,Big,Growth
12,2015-03-31,AAT,AMERICAN ASSETS TRUST INC,-0.017396,0.999949,-0.010439,1,1.000188,11.0,1896.57288,767.773,0.404821,9.130,Small,Growth
13,2016-03-31,AAT,AMERICAN ASSETS TRUST INC,0.065991,1.000782,0.070460,2,0.999143,11.0,1812.64744,820.575,0.452694,10.169,Small,Growth
14,2015-03-31,ABAX,ABAXIS INC,-0.017396,0.999949,-0.010439,1,1.000188,14.0,1444.97529,220.504,0.152601,7.174,Small,Growth
15,2016-03-31,ABAX,ABAXIS INC,0.065991,1.000782,0.070460,2,0.999143,14.0,1017.09912,236.696,0.232717,13.810,Small,Growth
16,2015-03-31,ABBV,ABBVIE INC,-0.017396,0.999949,-0.010439,1,1.000188,11.0,93258.66904,1377.000,0.014765,2039.000,Big,Growth
17,2016-03-31,ABBV,ABBVIE INC,0.065991,1.000782,0.070460,2,0.999143,11.0,92383.54608,10055.000,0.108840,2437.000,Big,Growth
18,2015-03-31,ABC,AMERISOURCEBERGEN CORP,-0.017396,0.999949,-0.010439,1,1.000188,11.0,25133.57370,1916.255,0.076243,423.895,Big,Growth
19,2016-03-31,ABC,AMERISOURCEBERGEN CORP,0.065991,1.000782,0.070460,2,0.999143,11.0,19387.28655,4232.353,0.218306,523.803,Big,Growth
20,2015-03-31,ABCB,AMERIS BANCORP,-0.017396,0.999949,-0.010439,1,1.000188,14.0,849.28298,489.783,0.576702,30.152,Small,Growth
21,2016-03-31,ABCB,AMERIS BANCORP,0.065991,1.000782,0.070460,2,0.999143,14.0,1030.47846,600.828,0.583057,42.154,Small,Value
22,2015-03-31,ABCD,CAMBIUM LEARNING GROUP INC,-0.017396,0.999949,-0.010439,1,1.000188,14.0,143.73892,-76.784,-0.534191,2.582,Small,Growth
23,2016-03-31,ABCD,CAMBIUM LEARNING GROUP INC,0.065991,1.000782,0.070460,2,0.999143,14.0,195.39947,-73.985,-0.378635,4.465,Small,Growth
24,2016-03-31,ABDC,ALCENTRA CAPITAL CORP,0.065991,1.000782,0.070460,2,0.999143,14.0,157.07478,194.568,1.238697,5.604,Small,Value
25,2015-03-31,ABEV,AMBEV SA,-0.017396,0.999949,-0.010439,1,1.000188,11.0,90510.72192,15076.895,0.166576,1139.568,Big,Growth
26,2016-03-31,ABEV,AMBEV SA,0.065991,1.000782,0.070460,2,0.999143,11.0,81297.63950,14501.851,0.178380,943.148,Big,Growth
27,2015-03-31,ABG,ASBURY AUTOMOTIVE GROUP INC,-0.017396,0.999949,-0.010439,1,1.000188,11.0,2264.64120,383.800,0.169475,66.000,Small,Growth
28,2016-03-31,ABG,ASBURY AUTOMOTIVE GROUP INC,0.065991,1.000782,0.070460,2,0.999143,11.0,1388.34784,254.000,0.182951,61.000,Small,Growth
29,2015-03-31,ABIO,ARCA BIOPHARMA INC,-0.017396,0.999949,-0.010439,1,1.000188,14.0,16.74854,12.127,0.724063,-2.741,Small,Value
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3834,2016-03-31,XYL,XYLEM INC,0.065991,1.000782,0.070460,2,0.999143,11.0,7317.01000,2265.000,0.309553,110.000,Big,Growth
3835,2015-03-31,YELP,YELP INC,-0.017396,0.999949,-0.010439,1,1.000188,11.0,3534.72485,656.656,0.185773,2.751,Big,Growth
3836,2016-03-31,YELP,YELP INC,0.065991,1.000782,0.070460,2,0.999143,11.0,1519.32900,700.694,0.461186,-6.084,Small,Growth
3837,2015-03-31,YUM,YUM BRANDS INC,-0.017396,0.999949,-0.010439,1,1.000188,11.0,34085.76000,1763.000,0.051722,600.000,Big,Growth
3838,2016-03-31,YUM,YUM BRANDS INC,0.065991,1.000782,0.070460,2,0.999143,11.0,33312.95000,210.000,0.006304,383.000,Big,Growth
3839,2015-03-31,Z,ZILLOW GROUP INC,-0.017396,0.999949,-0.010439,1,1.000188,14.0,5864.13980,2667.970,0.454964,-7.083,Big,Growth
3840,2016-03-31,Z,ZILLOW GROUP INC,0.065991,1.000782,0.070460,2,0.999143,14.0,4574.44645,2661.455,0.581809,-25.250,Big,Value
3841,2015-03-31,ZAGG,ZAGG INC,-0.017396,0.999949,-0.010439,1,1.000188,14.0,255.87771,129.983,0.507989,8.356,Small,Growth
3842,2016-03-31,ZAGG,ZAGG INC,0.065991,1.000782,0.070460,2,0.999143,14.0,253.47833,131.479,0.518699,4.712,Small,Growth
3843,2016-03-31,ZAYO,ZAYO GROUP HOLDINGS INC,0.065991,1.000782,0.070460,2,0.999143,11.0,5871.63096,1394.600,0.237515,151.200,Big,Growth
3844,2015-03-31,ZAZA,ZAZA ENERGY CORP,-0.017396,0.999949,-0.010439,1,1.000188,19.0,21.67085,-65.399,-3.017833,-6.429,Small,Growth
3845,2016-03-31,ZEN,ZENDESK INC,0.065991,1.000782,0.070460,2,0.999143,11.0,1915.09500,289.851,0.151351,-20.161,Small,Growth
3846,2015-03-31,ZEUS,OLYMPIC STEEL INC,-0.017396,0.999949,-0.010439,1,1.000188,14.0,148.03308,311.061,2.101294,6.594,Small,Value
3847,2016-03-31,ZEUS,OLYMPIC STEEL INC,0.065991,1.000782,0.070460,2,0.999143,14.0,189.70029,278.020,1.465575,3.481,Small,Value
3848,2016-03-31,ZFGN,ZAFGEN INC,0.065991,1.000782,0.070460,2,0.999143,14.0,182.15692,154.428,0.847775,-17.967,Small,Value
3849,2015-03-31,ZGNX,ZOGENIX INC,-0.017396,0.999949,-0.010439,1,1.000188,14.0,210.11005,54.793,0.260782,-11.049,Small,Growth
3850,2016-03-31,ZGNX,ZOGENIX INC,0.065991,1.000782,0.070460,2,0.999143,14.0,228.89328,192.309,0.840169,-13.000,Small,Value
3851,2015-03-31,ZION,ZIONS BANCORPORATION,-0.017396,0.999949,-0.010439,1,1.000188,14.0,5486.21100,6450.266,1.175723,233.607,Big,Value
3852,2016-03-31,ZION,ZIONS BANCORPORATION,0.065991,1.000782,0.070460,2,0.999143,14.0,4952.01024,6797.247,1.372624,207.326,Big,Value
3853,2015-03-31,ZIOP,ZIOPHARM ONCOLOGY INC,-0.017396,0.999949,-0.010439,1,1.000188,14.0,1381.06941,120.603,0.087326,-78.105,Small,Growth
3854,2016-03-31,ZIOP,ZIOPHARM ONCOLOGY INC,0.065991,1.000782,0.070460,2,0.999143,14.0,977.97826,77.813,0.079565,-11.968,Small,Growth
3855,2015-03-31,ZIXI,ZIX CORP,-0.017396,0.999949,-0.010439,1,1.000188,14.0,225.48768,59.218,0.262622,2.511,Small,Growth
3856,2016-03-31,ZIXI,ZIX CORP,0.065991,1.000782,0.070460,2,0.999143,14.0,218.99532,53.271,0.243252,3.002,Small,Growth
3857,2015-03-31,ZN,ZION OIL & GAS INC,-0.017396,0.999949,-0.010439,1,1.000188,14.0,62.66262,8.724,0.139222,-1.520,Small,Growth
3858,2016-03-31,ZN,ZION OIL & GAS INC,0.065991,1.000782,0.070460,2,0.999143,14.0,68.35664,8.110,0.118642,-1.558,Small,Growth
3859,2015-03-31,ZNGA,ZYNGA INC,-0.017396,0.999949,-0.010439,1,1.000188,14.0,2604.32145,1879.544,0.721702,-23.486,Small,Value
3860,2016-03-31,ZNGA,ZYNGA INC,0.065991,1.000782,0.070460,2,0.999143,14.0,1988.59776,1683.239,0.846445,-13.573,Small,Value
3861,2016-03-31,ZSAN,ZOSANO PHARMA CORP,0.065991,1.000782,0.070460,2,0.999143,14.0,27.52640,18.740,0.680801,-6.992,Small,Value
3862,2015-03-31,ZTS,ZOETIS INC,-0.017396,0.999949,-0.010439,1,1.000188,11.0,23162.03472,1561.000,0.067395,326.000,Big,Growth
3863,2016-03-31,ZTS,ZOETIS INC,0.065991,1.000782,0.070460,2,0.999143,11.0,22006.16561,1457.000,0.066209,384.000,Big,Growth

# 5.5 Get Portfolio Returns

In [43]:
portfolio_return = final_res.loc[:, ['Date', 'Group1', 'Group2', 'Annual_Return']].\
groupby(['Date', 'Group1', 'Group2']).mean().reset_index().copy()

In [44]:
portfolio_return['Start_Date'] = portfolio_return['Date'].apply(lambda x: x - pd.DateOffset(years=1))
portfolio_return.columns = ['End_Date', 'S/B', 'V/G', 'Annual_Return', 'Start_Date']
portfolio_return = portfolio_return.loc[:, ['Start_Date', 'End_Date', 'S/B', 'V/G', 'Annual_Return']].copy()
portfolio_return.loc[:, 'Annual_Return'] = (portfolio_return.loc[:, 'Annual_Return'] - 1) * 100

In [45]:
portfolio_return

   Start_Date   End_Date    S/B     V/G  Annual_Return
0  2013-03-31 2014-03-31    Big  Growth       0.238585
1  2013-03-31 2014-03-31  Small  Growth       0.238585
2  2013-03-31 2014-03-31  Small   Value       0.238585
3  2014-03-31 2015-03-31    Big  Growth       0.018757
4  2014-03-31 2015-03-31    Big   Value       0.018757
5  2014-03-31 2015-03-31  Small  Growth       0.018757
6  2014-03-31 2015-03-31  Small   Value       0.018757
7  2015-03-31 2016-03-31    Big  Growth      -0.085701
8  2015-03-31 2016-03-31    Big   Value      -0.085701
9  2015-03-31 2016-03-31  Small  Growth      -0.085701
10 2015-03-31 2016-03-31  Small   Value      -0.085701
11 2016-03-31 2017-03-31    Big   Value       0.178613
12 2016-03-31 2017-03-31  Small   Value       0.174916